.container {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.com-wrapper {
    position: relative;
    height: 100px;
}

.com-wrapper .title {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.exit-done {
    display: none
}


.exit {
    transition: 1s;
    transform: scale(0);
}


